@media (max-width: 992px) {
  .step1, .step2 {
    min-height: inherit !important;
  }
}
body, html {
  height: 100%;
}

body {
  background: url('./assets/images/body.jpg') no-repeat center;
  background-size: cover;
}
.content-wrapper {
  height: 100%;
  background: rgba(255, 255, 255, 0.95);
}