<div class="step2 col s12 l6 slideDown">
  <div class="form-box">
    <div class="form-header">
      <h3 class="grey-text text-darken-3">POST A JOB</h3>
      <h5 class="da grey-text text-darken-2">Step 2</h5>
    </div>
    <div class="divider col s11 grey"></div>


    <div class="row">

      <form class="col s11" [formGroup]="shared.formStep2" (change)="subcategoryValidator()">
        <div class="input-field category">
          <select formControlName="category" (change)="editFontColor(category.M_FormSelect)" #category>
            <option value="default" disabled>Category of Work</option>
            <option *ngFor="let category of shared.data.categories" [value]="category.value">{{ category.content }}
            </option>
          </select>
        </div>

        <div class="input-field subcategory">
          <select class="valid" formControlName="subcategory" (change)="editFontColor(subcategory.M_FormSelect)"
            #subcategory>
            <option value="default" disabled>Subcategory</option>
            <optgroup label="Body repair">
              <option *ngFor="let category of shared.data.subcategories.body" [value]="category.value">
                {{ category.content }}
              </option>
            </optgroup>

            <optgroup label="Engine repair">
              <option *ngFor="let category of shared.data.subcategories.engine" [value]="category.value">
                {{ category.content }}
              </option>
            </optgroup>

            <optgroup label="Сhassis repair">
              <option *ngFor="let category of shared.data.subcategories.chassis" [value]="category.value">
                {{ category.content }}
              </option>
            </optgroup>

            <optgroup label="Electronics repair ">
              <option *ngFor="let category of shared.data.subcategories.electronics" [value]="category.value">
                {{ category.content }}
              </option>
            </optgroup>
          </select>
        </div>
        <app-error [msg]="'Chosen subcategory does not correspond the category! Please check and correct!'"
          *ngIf="shared.isSubcategoryInvalid && shared.isSubmited"></app-error>

        <div class="input-field emirate">
          <select formControlName="emirate" (change)="editFontColor(emirate.M_FormSelect)" #emirate>
            <option value="default" disabled>Select Emirate</option>
            <option *ngFor="let emirate of shared.data.emirates" [value]="emirate.value">{{ emirate.content }}
            </option>
          </select>
        </div>

        <div class="input-field area">
          <select formControlName="area" (change)="editFontColor(area.M_FormSelect)" #area>
            <option value="default" disabled>Select Area</option>
            <option *ngFor="let area of shared.data.areas" [value]="area.value">{{ area.content }}
            </option>
          </select>
        </div>

        <div class="need-box" (change)="removeValidateIfExist()">
          <p>
            <label>
              <input class="filled-in checkbox-orange" type="checkbox" formControlName="needTow">
              <span>Need tow Truck</span>
            </label>
          </p>

          <p>
            <label>
              <input class="filled-in checkbox-orange" type="checkbox" formControlName="needPickup">
              <span>Need car Pickup</span>
            </label>
          </p>

          <p>
            <label>
              <input class="filled-in checkbox-orange" type="checkbox" formControlName="customParts">
              <span>Custom Parts</span>
            </label>
          </p>
        </div>

        <div class="input-field date">
          <div class="date-label grey-text text-darken-2"><small>Desired date of repair</small></div>
          <i class="material-icons prefix grey-text text-darken-2">today</i>
          <input type="text" class="datepicker grey-text text-darken-2" id="date-picker" formControlName="date">
        </div>

      </form>
    </div>
  </div>

  <div class="description">
    <div class="description-content">
      <small class="grey-text text-darken-2">Description</small>
      <p class="grey-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, impedit esse? Ipsum harum
        aspernatur alias!
      </p>
    </div>
    <div class="divider grey"></div>
  </div>

</div>