<div class="step1 col s12 l6 slideDown">
  {{ shared.formStep1.value | json }} <br>
  {{ shared.formStep1.valid }}
  <div class="form-box">
    <div class="form-header">
      <h3 class="grey-text text-darken-3">POST A JOB</h3>
      <h5 class="grey-text text-darken-2">Step 1</h5>
    </div>
    <div class="divider col s11 grey"></div>
    <div class="row">
      <form class="col s11" [formGroup]="shared.formStep1">

        <div class="input-field">
          <input type="text" id="mark" formControlName="mark" [ngClass]="{
            'valid': shared.formStep1.controls.mark.valid && shared.isSubmited,
            'invalid': shared.formStep1.controls.mark.invalid && shared.isSubmited
          }">
          <label for="mark">Mark</label>
        </div>
        <app-error [msg]="'Please use only Latin letters. Minimum length is 2 characters!'"
          *ngIf="shared.formStep1.controls.mark.invalid && shared.isSubmited"></app-error>

        <div class="input-field">
          <input type="text" id="model" formControlName="model" [ngClass]="{
            'valid': shared.formStep1.controls.model.valid && shared.isSubmited,
            'invalid': shared.formStep1.controls.model.invalid && shared.isSubmited
          }">
          <label for="model">Model</label>
        </div>
        <app-error [msg]="'Please use only Latin letters!'"
          *ngIf="shared.formStep1.controls.model.invalid && shared.isSubmited"></app-error>

        <div class="input-field">
          <input type="number" id="year" formControlName="year" [ngClass]="{
            'valid': shared.formStep1.controls.year.valid && shared.isSubmited,
            'invalid': shared.formStep1.controls.year.invalid && shared.isSubmited
          }">
          <label for="year">Year</label>
        </div>
        <app-error [msg]="'This field is invalid. Please check and correct!'"
          *ngIf="shared.formStep1.controls.year.invalid && shared.isSubmited"></app-error>

        <div class="input-field">
          <textarea class="materialize-textarea" id="txtArea" name="txtArea" (ngModelChange)="setParentHeight()"
            formControlName="details"
            [ngClass]="{'valid': shared.formStep1.controls.details.value && shared.isSubmited}"></textarea>
          <label for="txtArea">What exactly need to repaired?</label>
        </div>
      </form>

    </div>
  </div>

  <div class="description">
    <div class="description-content">
      <small class="grey-text text-darken-2">Description</small>
      <p class="grey-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure sed ea eos sapiente
        ipsa!
      </p>
    </div>
    <div class="divider grey col s11"></div>
  </div>


</div>