<div class="content-wrapper">
  <div class="container">
    <div class="steps-box row">

      <app-step1></app-step1>

      <app-step2 (step2Validate)="step2Validate()" *ngIf="checkStep1()"></app-step2>

    </div>

    <div class="buttons row">
      <div class="submit-btn col l6 s6 center-align">
        <button class="btn grey waves-effect" type="submit" [disabled]="isSubmitAvailable()"
          (click)="trySibmit()">Submit
          <i class="material-icons right">local_shipping</i>
        </button>
      </div>
      <div class="clear-btn col l6 s6 center-align">
        <button class="btn grey waves-effect" type="submit" (click)="clearForms()">Clear
          <i class="material-icons right">cleaning_services</i>
        </button>
      </div>
    </div>
  </div>
</div>